html {
    font-family: 'Inter', sans-serif;
  }

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h2 {
    text-align: left;
    color: #B06426;
    margin-bottom: 4vh;
    margin-top: 7vh;
} 
 
.img {
    height: 20vh;
    width: 20vw;
    object-fit: fill;
    display: flexbox;    
    align-items: center;
}

#imgInicio {
    display: flexbox;
    align-items: center;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

#tituloSobre {
    padding-top: 10vh;
    text-align: center;
    padding-bottom: 7vh;
    color: #B06426;
}

#sobre, .subtitulo, #endereco, #redesSociais {
    text-align: justify;
    margin-left: 20vw;
    margin-right: 20vw;
}

#endereco, #redesSociais, #sobre {
    margin-top: -2vh;
}

#redesSociais {
    margin-bottom: 15vh;
}

@media screen and (max-width: 360px){
    #sobre, .subtitulo, #endereco, #redesSociais {
        text-align: justify;
        margin-left: 15vw;
        margin-right: 15vw;
    }
    #imgInicio {
        width: 100vw;
        height: auto;
    }
    h1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 361px) and (max-width: 1024px) {
    #sobre, .subtitulo, #endereco, #redesSociais {
        text-align: justify;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    h1 {
        font-size: 25px;
    }
    #imgInicio {
        width: 100vw;
        height: auto;
    }
}


@media screen and (min-width: 1024px) and (max-width: 2010px){
    #sobre, .subtitulo, #endereco, #redesSociais {
        text-align: justify;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 17px;
    }
    h2 {
        font-size: 19px;
    }
}










 /* -------------------------------------------------------------------------- */
/* HEADER */

 .main-header_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-top: 1.2vh;
    margin-bottom: 0.8vh;
}

.main-header_logo {
    margin-left: 2%;
    width: 10vw;
    height: 7vh;
    object-fit: cover;
}

#logo-homepage_header {
    max-width: 100%;
    height: auto;
}

.main-header_searchbar {
    position: relative;
    border-radius: 25px;
    border: 1px solid grey;
    outline: 0;
    height: 4vh;
    width: 22vw;
    display: flex;
    align-items: center;
}

#searchbar-input {
    position: absolute;
    border-radius: 25px;
    border: 0px;
    outline: 0;
    height: 3.5vh;
    width: 16.5vw;
    left: 3%;
}

#searchbar-input:focus {
    border: 0px;
}

.searchbar-icon {
    position: absolute;
    left: 89%;
    width: 3vw;
    height: 2.5vh;
    object-fit: cover;
}

.main-header_icons {
    width: 6vw;
    height: 7vh;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ellipse-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
}

.ellipse-color-orange {
    background-color: #ECAC55;
    margin-right: 60%;
}

.ellipse-color-orange:hover {
    background-color: #B3C9A9;
}

.ellipse-color-beige {
    background-color: #F8DDBF;
}

.ellipse-color-beige:hover {
    background-color: #546466;
}

.svg-ellipse {
    position: absolute;
}

#first-ellipse_header {
    margin-right: 55%;
}

#second-ellipse_header {
    margin-right: 30%;
}

.main-img_homepage {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}