html {
    font-family: 'Inter', sans-serif;
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    position:relative;
    float:left;
}

h2 {
    color: #B06426;
    margin-left: 3vw;
    margin-top: 3vh;
}

#divider {
    color: #B06426;
    width: 100vw;
    margin-left: -10px;
}

.inicio {
    margin-top: 5vh;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 176.6px;
    width: 25vw; 
    height: 55vh;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemProduto:hover, .overlay:hover {
    background-color: #546466;
    color: white;
    opacity: 0.9;
    cursor: pointer;
}  

p.textoOverlay {
    margin: 10px;
}


.produtos {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.produtosInfo {
    flex-direction: column;
}

.imagemProduto {
    height: 55vh;
    width: 25vw;
    object-fit: cover;
}

p.preco {
    margin-top: -1vh;
}

p.cor {
    color: #B3C9A9;
    margin-top: -2vh;
}


 /* -------------------------------------------------------------------------- */
/* HEADER */

.main-header_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-top: 1.2vh;
    margin-bottom: 0.8vh;
}

.main-header_logo {
    margin-left: 2%;
    width: 10vw;
    height: 7vh;
    object-fit: cover;
}

#logo-homepage_header {
    max-width: 100%;
    height: auto;
}

.main-header_searchbar {
    position: relative;
    border-radius: 25px;
    border: 1px solid grey;
    outline: 0;
    height: 4vh;
    width: 22vw;
    display: flex;
    align-items: center;
}

#searchbar-input {
    position: absolute;
    border-radius: 25px;
    border: 0px;
    outline: 0;
    height: 3.5vh;
    width: 16.5vw;
    left: 3%;
}

#searchbar-input:focus {
    border: 0px;
}

.searchbar-icon {
    position: absolute;
    left: 89%;
    width: 3vw;
    height: 2.5vh;
    object-fit: cover;
}

.main-header_icons {
    width: 6vw;
    height: 7vh;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ellipse-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
}

.ellipse-color-orange {
    background-color: #ECAC55;
    margin-right: 60%;
}

.ellipse-color-orange:hover {
    background-color: #B3C9A9;
}

.ellipse-color-beige {
    background-color: #F8DDBF;
}

.ellipse-color-beige:hover {
    background-color: #546466;
}

.svg-ellipse {
    position: absolute;
}

#first-ellipse_header {
    margin-right: 55%;
}

#second-ellipse_header {
    margin-right: 30%;
}

.main-img_homepage {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #546466;
    margin-top: auto;
    height: 11em;
}

footer h3{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

footer a:hover{
    transition: ease 0.5s;
    color: white;
}

footer input{
    outline: none;
}

#submit-newsletter{
    background-color: #B06426;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 1em;
    margin: 0.3125em;
    font-size: 0.8rem;
    width: 100%;
    transition: ease 0.5s;
}

#submit-newsletter:hover{
    transition: ease 0.5s;
    opacity: 0.7;
}

#email-newsletter{
    padding: 1em;
    border-radius: 4px;
    background-color: #ededed;
    border: 1.6px solid black;
    margin: 0.3125em;
    font-size: 0.8rem;
    width: 100%;
}

#email-newsletter:focus{
    background-color: white;
}

.fa{
    padding: 1em;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: ease 0.7s;
}


.fa-facebook{
    background-color: #3B5998;
    color: white;
}

.fa-instagram{
    background-color: #8a3ab9;
    color: white;
}

.fa-twitter{
    background-color: #55ACEE;
    color: white;
}

.fa-facebook:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #3B5998;
}

.fa-instagram:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #8a3ab9;
}

.fa-twitter:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #55ACEE;
}