html {
    font-family: 'Inter', sans-serif;
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
}

.div-container{
    display: grid;
    grid-template-columns: 50vw 70vw;
    
    grid-column: 2;
    grid-row: 1;
    grid-template-areas: img, form;
    margin: none;
    justify-items: center;
}

.div-container .button {
    background-color: #B06426;
    width: 25vw;
    padding: 12px 20px;
    border: none;
    color: white;
}

.div-container .button:hover {
    background-color: #546466;
}

.password {
    text-align: left;
    width: 25vw;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: beige;
    border: none;
    
}

.div-container input.email {
    text-align: left;
    width: 25vw;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: beige;
    border: none;
    margin-top: 1vh;
}

h2 {
    text-align: left;
    color: #B06426;
    margin-bottom: 4vh;
    margin-top: 7vh;
}

#esquecestePassword {
    text-align: left;
    color: black;
    size: 20px;
}

.div-container form {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: -35vw;
    background-color: white;
    padding: 25px;
}

img.fundo {
    height: 100vh;
    color: #B06426;
    background: url("../assets/imgs/img-login.jpg") no-repeat top left scroll;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -20vw;
}

img.logo {
    width: 120px;
    height: 35px;
    background: url(../assets/imgs/logo\ projeto\ tw_logo\ marrom.png) no-repeat bottom left scroll;
    background-position: left;
    background-repeat: no-repeat;
}


@media screen and (max-width: 650px){
    .div-container input.email, input.password, .div-container .button {
        width: 175px;
    }
    #esquecestePassword {
        font-size: small;
    }
    .div-container form {
        display: flex;
        align-content: center;
    }
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #546466;
    margin-top: auto;
    height: 11em;
}

footer h3{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

footer a:hover{
    transition: ease 0.5s;
    color: white;
}

footer input{
    outline: none;
}

#submit-newsletter{
    background-color: #B06426;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 1em;
    margin: 0.3125em;
    font-size: 0.8rem;
    width: 100%;
    transition: ease 0.5s;
}

#submit-newsletter:hover{
    transition: ease 0.5s;
    opacity: 0.7;
}

#email-newsletter{
    padding: 1em;
    border-radius: 4px;
    background-color: #ededed;
    border: 1.6px solid black;
    margin: 0.3125em;
    font-size: 0.8rem;
    width: 85%;
}

#email-newsletter:focus{
    background-color: white;
}

.fa{
    padding: 1em;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: ease 0.7s;
}


.fa-facebook{
    background-color: #3B5998;
    color: white;
}

.fa-instagram{
    background-color: #8a3ab9;
    color: white;
}

.fa-twitter{
    background-color: #55ACEE;
    color: white;
}

.fa-facebook:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #3B5998;
}

.fa-instagram:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #8a3ab9;
}

.fa-twitter:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #55ACEE;
}