html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-header_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-top: 1.2vh;
    margin-bottom: 0.8vh;
}

.main-header_logo {
    margin-left: 2%;
    width: 10vw;
    height: 7vh;
    object-fit: cover;
}

#logo-homepage_header {
    max-width: 100%;
    height: auto;
}

.main-header_searchbar {
    position: relative;
    border-radius: 25px;
    border: 1px solid grey;
    outline: 0;
    height: 4vh;
    width: 22vw;
    display: none;
    align-items: center;
}

#searchbar-input {
    position: absolute;
    border-radius: 25px;
    border: 0px;
    outline: 0;
    height: 3.5vh;
    width: 16.5vw;
    left: 3%;
}

#searchbar-input:focus {
    border: 0px;
}

.searchbar-icon {
    position: absolute;
    left: 89%;
    width: 3vw;
    height: 2.5vh;
    object-fit: cover;
}

.main-header_icons {
    width: 6vw;
    height: 7vh;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ellipse-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.ellipse-color-orange {
    background-color: #ECAC55;
    margin-right: 60%;
}

.ellipse-color-orange:hover {
    background-color: #B3C9A9;
}

.ellipse-color-beige {
    background-color: #F8DDBF;
}

.ellipse-color-beige:hover {
    background-color: #546466;
}

.svg-ellipse {
    position: absolute;
}

#first-ellipse_header {
    margin-right: 55%;
}

#second-ellipse_header {
    margin-right: 30%;
}

header a {
    color: black;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 35%;
}

.form-container a {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

h1{
    display: flex;
    justify-content: center;
}
input{
    outline: none;
}

.campos-input input{
    padding: 1em;
    border-radius: 0.25em;
    background-color: #ededed;
    border: 1.6px solid black;
    margin: 0.3125em;
    font-size: 0.8rem;
}

.campos-input{
    margin-top: 0.4em;
}

.campos-input input:focus{
    background-color: white;
}

#submit{
    background-color: #B06426;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    grid-column: 1 / 3;
    grid-row: 4;
    color: white;
    padding: 1em;
    margin: 0.3125em;
    font-size: 0.8rem;
    transition: ease 0.5s;
}

#submit:hover{
    transition: ease 0.5s;
    opacity: 0.7;
}

.campos-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.custom-radio{
    width: 1.3em;
    height: 1.3em;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0.3em;
}

.custom-radio input{
    display: none;
}

.custom-radio .checkmark{
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
    background-color: #B06426;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.custom-radio input:checked + .checkmark{
    opacity: 1;
}

.gen-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 3;
    grid-column: 1;
    font-weight: bold;
}

#pNome{
    grid-row: 1;
    grid-column: 1;
}

#uNome{
    grid-row: 1;
    grid-column: 2;
}

#email{
    grid-row: 2;
    grid-column: 1;
}

#password{
    grid-row: 2;
    grid-column: 2;
}

.data-nasc{
    display: flex;
    justify-content: space-evenly;
    grid-column: 2;
    grid-row: 3;
}

.data-nasc input{
    width: 8.5em;
}

.gen-radio-juntar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #546466;
    margin-top: auto;
    height: 11em;
}

footer h3{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: black;
    transition: ease 0.5s;
}

footer a:hover{
    transition: ease 0.5s;
    color: white;
}

#submit-newsletter{
    background-color: #B06426;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 1em;
    margin: 0.3125em;
    font-size: 0.8rem;
    width: 100%;
    transition: ease 0.5s;
}

#submit-newsletter:hover{
    transition: ease 0.5s;
    opacity: 0.7;
}

#email-newsletter{
    padding: 1em;
    border-radius: 4px;
    background-color: #ededed;
    border: 1.6px solid black;
    margin: 0.3125em;
    font-size: 0.8rem;
    width: 100%;
}

#email-newsletter:focus{
    background-color: white;
}

.fa{
    padding: 1em;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: ease 0.7s;
}


.fa-facebook{
    background-color: #3B5998;
    color: white;
}

.fa-instagram{
    background-color: #8a3ab9;
    color: white;
}

.fa-twitter{
    background-color: #55ACEE;
    color: white;
}

.fa-facebook:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #3B5998;
}

.fa-instagram:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #8a3ab9;
}

.fa-twitter:hover{
    transition: ease 0.7s;
    background-color: white;
    color: #55ACEE;
}
  

@media screen and (max-width: 600px), screen and (max-height: 700px){
    .campos-input{
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr;
    }
    
    .form-container{
        height: fit-content;
    }

    #pNome{
        grid-row: 1;
        grid-column: 1;
    }
    
    #uNome{
        grid-row: 2;
        grid-column: 1;
    }

    #email{
        grid-row: 3;
        grid-column: 1;
    }
    
    #password{
        grid-row: 4;
        grid-column: 1;
    }

    .gen-radio{
        grid-row: 6;
        grid-column: 1;
    }

    .data-nasc{
        grid-row: 5;
        grid-column: 1;
    }

    #submit{
        grid-row: 7;
        grid-column: 1;
    }
    
    .data-nasc input{
        width: 6.5em;
    }
}