html {
    font-family: 'Inter', sans-serif;
  }

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 100vh;
}

#img-artigo1 {
    height: 75vh;
    width: 35vw;
    margin-top: 10vh;
}

#img-artigo2 {
    height: 75vh;
    width: 35vw;
    margin-top: 10vh;
}

#productInfo {
    grid-column: 2;
    margin-top: 25vh;
}

h1 {
    text-align: left;
    color: #B06426;
    margin-bottom: 4vh;
    margin-top: 7vh
}

#addToCartButton {
    background-color: #B06426;
    width: 29vw;
    padding: 15px 20px;
    border: none;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#addToCartButton:hover {
    background-color: #546466;
}

#buttonsInfo {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 12vw 12vw;
    grid-template-areas: dropdownSize, dropdownDetail;
}

____________________________Dropdowns ______________________________


.dropdownSize, .dropdownDetail {
    position: relative;
    display: inline-block;
}
  
.dropdownSizeContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
 
.dropdownDetailContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 15vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownSize:hover .dropdownSizeContent {
    display: block;
}

.dropdownDetail:hover .dropdownDetailContent {
    display: block;
}

____________________________Slider_________________________

.slideshow-container{
    display: flex;
    align-items: center;
    grid-column: 1;
    width: 800px;
    height: 800px;
    margin: auto;
}

.div-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides{
    display: none;
}

.slides img{
    height: 600px;
    width: 600px;
}

.arrows-container{
    display: flex;
    justify-content: space-between;
}

.anterior, .proximo{
    cursor: pointer;
    color: white;
    transition: 0.6s ease;
    user-select: none;
    font-size: 18px;
    width: auto;
    padding: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.anterior:hover, .proximo:hover{
    background-color: rgb(0, 0, 0);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}