html {
    font-family: 'Inter', sans-serif;
  }

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    max-width: 100%;
}

.content-article {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

#img-artigo1 {
    height: 75vh;
    width: 35vw;
    margin-top: 10vh;
}

#img-artigo2 {
    height: 75vh;
    width: 35vw;
    margin-top: 10vh;
}

#productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


h1 {
    text-align: left;
    color: #B06426;
    margin-bottom: 4vh;
    margin-top: 7vh
}

#addToCartButton {
    background-color: #B06426;
    width: 32vw;
    padding: 15px 20px;
    border: none;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: medium;
}

#addToCartButton:hover {
    background-color: #546466;
}

#buttonsInfo {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 12vw 12vw;
    column-gap: 8vw;
    grid-template-areas: dropdownSize, dropdownDetail;
}

____________________________Dropdowns ______________________________


.dropdownSize, .dropdownDetail {
    position: relative;
    display: inline-block;
}
  
.dropdownSizeContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
 
.dropdownDetailContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 15vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownSize:hover .dropdownSizeContent {
    display: block;
}

.dropdownDetail:hover .dropdownDetailContent {
    display: block;
}

____________________________Slider_________________________

.slideshow-container{
    display: flex;
    align-items: center;
    grid-column: 1;
    width: 30vw;
    height: 30vw;
    margin: auto;
}

.div-align{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.slides{
    display: none;
}

.slides img{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}

.arrows-container{
    display: flex;
    justify-content: space-between;
}

.anterior, .proximo{
    cursor: pointer;
    color: white;
    transition: 0.6s ease;
    user-select: none;
    font-size: 18px;
    width: auto;
    padding: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.anterior:hover, .proximo:hover{
    background-color: rgb(0, 0, 0);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

_________Header______________

.main-header_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-top: 1.2vh;
    margin-bottom: 0.8vh;
}

.main-header_logo {
    margin-left: 2%;
    width: 10vw;
    height: 7vh;
    object-fit: cover;
}

#logo-homepage_header {
    max-width: 100%;
    height: auto;
}

.main-header_searchbar {
    position: relative;
    border-radius: 25px;
    border: 1px solid grey;
    outline: 0;
    height: 4vh;
    width: 22vw;
    display: flex;
    align-items: center;
}

#searchbar-input {
    position: absolute;
    border-radius: 25px;
    border: 0px;
    outline: 0;
    height: 3.5vh;
    width: 16.5vw;
    left: 3%;
}

#searchbar-input:focus {
    border: 0px;
}

.searchbar-icon {
    position: absolute;
    left: 89%;
    width: 3vw;
    height: 2.5vh;
    object-fit: cover;
}

.main-header_icons {
    width: 6vw;
    height: 7vh;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ellipse-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.ellipse-color-orange {
    background-color: #ECAC55;
    margin-right: 60%;
}

.ellipse-color-orange:hover {
    background-color: #B3C9A9;
}

.ellipse-color-beige {
    background-color: #F8DDBF;
}

.ellipse-color-beige:hover {
    background-color: #546466;
}

.svg-ellipse {
    position: absolute;
}

#first-ellipse_header {
    margin-right: 55%;
}

#second-ellipse_header {
    margin-right: 30%;
}

header a {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}