@media (max-width: 425px) {
    .main-header_searchbar {
        display: none;
    }

    .main-header_logo {
        width: 40vw;
    }

    .main-header_icons {
        width: 20vw;
    }

    .main-header_text {
        display: none;
    }
}