@media (max-width: 425px) {
    .main-header_searchbar {
        display: none;
    }

    .main-header_logo {
        width: 40vw;
    }

    .main-header_icons {
        width: 20vw;
    }

    .main-header_text {
        display: none;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 700px){
    footer{
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .coluna-1,.coluna-2,.coluna-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .coluna-1,.coluna-2{
        flex-direction: column;
    }

    .fa{
        margin: 0.5em;
    }

    .coluna-3{
        display: flex;
        flex-direction: column;
    }
}